body {
    background: #32cd32;
    color: #eee;
    font-family: "Arial", "メイリオ";
}

table.score {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border: solid 1px #eee;
}

table.score th {
    text-align: center;
    padding: 7px 0;
    border: solid 2px #eee;
}

table.score td {
    text-align: center;
    padding: 7px 0;
    border: solid 1px #eee;
    width: 155px;
}

#game-clock-display {
    font-size: 40px;
    font-weight: bold;
}

#orange-points {
    color : #ff8b00;
    font-size: 60px;
    font-weight: bold;
}

#blue-points {
    color : #009afe;
    font-size: 60px;
    font-weight: bold;
}

table.stats {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border: solid 1px #eee;
    font-size: 12px;
    font-weight: bold;
    margin: 4px;
}

table.stats th {
    text-align: center;
    padding: 2px;
    border: solid 2px #eee;
}

table.stats td {
    text-align: center;
    padding: 2px;
    border: solid 1px #eee;
}

